.action-button_cover{
    z-index: 2;
    display: inline-flex;
    align-items: flex-start;
    gap: 10px;
    width: 198px;
    height: 48px;
}

.action-button_cover_typt_traslate:hover{
    background: images/Imported Layers Copy 4.svg;
}