@import url(../styles/normalize.css);
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/__logo.css);
@import url(../blocks/header/__title/__title.css);
@import url(../blocks/header/__subtitle/__subtitle.css);
@import url(../blocks/header/__ilustration/__ilustration.css);
@import url(../blocks/header/__rectangule/__rectangule.css);
@import url(../blocks/intro/intro.css);
@import url(../blocks/intro/__title/__title.css);
@import url(../blocks/intro/__subtitle/__subtitle.css);
@import url(../blocks/intro/__author/__author.css);
@import url(../blocks/intro/__text/__text.css);
@import url(../blocks/container/container.css);
@import url(../blocks/container/__item/__item.css);
@import url(../blocks/places/places.css);
@import url(../blocks/places/place/place.css);
@import url(../blocks/places/__title/__title.css);
@import url(../blocks/places/__website/__website.css);
@import url(../blocks/places/__artist/__artist.css);
@import url(../blocks/places/__url-heading/__url-heading.css);
@import url(../blocks/places/__image/__image.css);
@import url(../blocks/action-button/action-button.css);
@import url(../blocks/action-button/_typt_traslate/_typt_traslate.css);
@import url(../blocks/action-button/__paragraph/__paragraph.css);
@import url(../blocks/places/__pragraphs/__paragraphs.css);
@import url(../blocks/places/__paragraph/__paragraph.css);
@import url(../blocks/cover/cover.css);
@import url(../blocks/cover/__title/__title.css);
@import url(../blocks/cover/__subtitle/__subtitle.css);
@import url(../blocks/cover/__background/__background.css);
@import url(../blocks/action-button/_cover/_cover.css);
@import url(../blocks/action-button/__paragraph_cover/__paragraph_cover.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyrigth/__copyrigth.css);

@media screen and (max-width : 768px) {

    .page{
        width: 768px;
        height: 7382px;
        background-color: aqua;
    } 
 
    .header{
        width: 768px;
        height: 1114px;
        margin-bottom: 55px;
    }
    
    .header__logo{
        width: 270px;
        height: 70px;
        margin: 34px 249px 90px;

    }

    .header__title{
        width: 720px;
        margin: 90px 24px 0;

    }
    .intro{
        width: 720px;
        height: 607px;
    }

    .intro__title{
        width: 720px;
    } 
 
 
    .container{
        width: 720px;
        height: 1104px;
        margin: 0 24px 88px;

    }
    
    .container__item{
        width: 352px;
        height: 264px;
    }

    .places{
        width: 768px;
        align-items: center;
        margin: 0 24px 92px;
    }

    .place{
        width: 720px;
        height: 756px;
        display:grid;
        grid-template-columns: 355px 352px;
        grid-template-areas: 
        "title website"
        "image paragraphs"
        "button paragraphs";
        justify-content: space-between;
    }
    
    .place__title{
        width: 340px;
        font-size: 42px;      
        line-height: 46px; 
    }
    
    .place__website{
        width: 295px;
        height: 67px;
    }
    
    .place__image{
        width: 340px;
        height: 340px;
    }
    
    .action-button_typt_traslate:hover{
        background: #0063D2;
    }

    .place__paragraphs{
        width: 352px;
        row-gap: 14px;
        grid-area: paragraphs;
    }
    
    .place__paragraph{
        width: 352px;
        font-size: 16px;
    }
    
    .place_muramvya{
        width: 720px;
        height: 845px;
       display:grid;
       grid-template-columns: 340px 352px;
       grid-template-areas: 
       "title website"
       "image paragraphs"
       "button paragraphs";
    }

    .cover{
        width: 768px;
        height: 746px;
    }

    .cover__title{
       height: 76px;
    }

    .cover__background{
        opacity: .6;
        width: 768px;
        height: 746px;
    }

    
} 