.place{
    width: 984px;
    height: 756px;
    display:grid;
    grid-template-columns: 460px 484px;
    grid-template-areas: 
    "title website"
    "image paragraphs"
    "button paragraphs";
}

.place_muramvya{
    height: 859px;
    margin-top: 80px; 
 }

 .place_kiev{
    margin-bottom: 80px;
 }

 .place_mexico{
    margin-top: 130px;
 }