.place__title{
    width: 460px;
    color: #FFF;
    font-family: Inter;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 76px; /* 105.556% */
    margin-top: 0;
    margin-bottom: 48px;
    grid-area: title;
}

.place__title_berea{
    width: 584px;
}