@media screen and (max-width : 768px) {

    .page{
        width: 768px;
        height: 7382px;
        background-color: aqua;
    } 
 
    .header{
        width: 768px;
        height: 1114px;
        margin-bottom: 55px;
    }
    
    .header__logo{
        width: 270px;
        height: 70px;
        margin: 34px 249px 90px;

    }

    .header__title{
        width: 720px;
        margin: 90px 24px 0;
    }

    .header__ilustration{
        width: 100%;
        height: 480px;
     }

     .header__rectangule{
        width: 100%;
        height: 480px;
    }
    .intro{
        width: 720px;
        height: 607px;
    }

    .intro__title{
        width: 720px;
    } 
 
 
    .container{
        width: 720px;
        height: 1104px;
        margin: 0 24px 88px;

    }
    
    .container__item{
        width: 352px;
        height: 264px;
    }

    .places{
        width: 720px;
        align-items: center;
        margin: 0 24px 92px;
    }

    .place{
        width: 720px;
        height: 756px;
        display:grid;
        grid-template-columns: 355px 352px;
        grid-template-areas: 
        "title website"
        "image paragraphs"
        "button paragraphs";
        justify-content: space-between;
    }
    
    .place__title{
        width: 340px;
        font-size: 42px;      
        line-height: 46px; 
    }
    
    .place__website{
        width: 295px;
        height: 67px;
    }
    
    .place__image{
        width: 340px;
        height: 340px;
    }
    
    .action-button_typt_traslate:hover{
        background: #0063D2;
    }

    .place__paragraphs{
        width: 352px;
        row-gap: 14px;
        grid-area: paragraphs;
    }
    
    .place__paragraph{
        width: 352px;
        font-size: 16px;
    }
    
    .place_muramvya{
        width: 720px;
        height: 845px;
       display:grid;
       grid-template-columns: 340px 352px;
       grid-template-areas: 
       "title website"
       "image paragraphs"
       "button paragraphs";
    }

    .cover{
        width: 768px;
        height: 746px;
    }

    .cover__title{
       height: 76px;
    }

    .cover__background{
        opacity: .6;
        width: 768px;
        height: 746px;
    }

    
} 