@media screen and (min-width : 768px) {

    .page{
        width: 768px;
        height: 7382px;
        background-color: aqua;
    } 
 
    .header{
        width: 768px;
        height: 1114px;
        margin-top: 34px;
        margin-bottom: 55px;
    }
    
    .header__logo{
        width: 270px;
        height: 70px;

    }

    .header__title{
        width: 720px;

    }
    .intro{
        width: 720px;
        height: 607px;
    }

    .intro__title{
        width: 720px;
    } 
 
 
    .container{
        width: 720px;
        height: 1104px;

    }
    
    .container__item{
        width: 352px;
        height: 264px;
    }

    .places{
        width: 768px;
        align-items: center;
    }

    .place{
        width: 720px;
        height: 756px;
        display:grid;
        grid-template-columns: 355px 352px;
        grid-template-areas: 
        "title website"
        "image paragraphs"
        "button paragraphs";
        justify-content: space-between;
    }
    
    .place__title{
        width: 340px;
        font-size: 42px;      
        line-height: 46px; 
    }
    
    .place__website{
        width: 295px;
        height: 67px;
    }
    
    .place__image{
        width: 340px;
        height: 340px;
    }
    
    .action-button_typt_traslate:hover{
        background: #0063D2;
    }

    .place__paragraphs{
        width: 352px;
        row-gap: 14px;
        grid-area: paragraphs;
    }
    
    .place__paragraph{
        width: 352px;
        font-size: 16px;
    }
    
    .place_muramvya{
        width: 720px;
        height: 845px;
       display:grid;
       grid-template-columns: 340px 352px;
       grid-template-areas: 
       "title website"
       "image paragraphs"
       "button paragraphs";
    }

    .cover{
        width: 768px;
        height: 746px;
    }

    .cover__title{
       height: 76px;
    }

    .cover__background{
        opacity: .6;
        width: 768px;
        height: 746px;
    }

    
}



@media screen and (min-width : 320px) {
    .page{
        width: 320px;
        height: 9626px;
    }
    .header{
        width: 320px;
        height: 670px;
    }
    
    .header__logo{      
        width: 200px;
        height: 51.852px;
    }

    .header__title{
        width: 288px;
        font-size: 40px;
        line-height: 44px; 
        margin: 0 16px 60px;
    }

    .header__subtitle{
        width: 288px;
        font-size: 16px;
        line-height: 20px; /* 125% */
        margin: 0 16px 40px;

    }

    .header__ilustration{
        width: 320px;
        height: 200px;
    }

    .header__rectangule{
        width: 320px;
        height: 200px;            
    }

    .intro{
        width: 288px;
        height: 958px;
        margin: 44px 16px 38px;
    }

    .intro__title{
        width: 288px;
        height: 175px;
        font-size: 32px;
        line-height: 35px; /* 109.375% */
    }

    .intro__subtitle{
        width: 288px;
        height: 300px;    
        line-height: 30px; /* 125% */
    }

    .intro__author{
        width: 288px;
        height: 34px;
    }

    .intro__text{
        width: 288px;
        height: 442px;
    }

    .container{
        width: 288px;
        height: 1812px;
        margin: 0 16px 62px;
    }

    .container__item{
        width: 288px;
        height: 216px;
    }

    .places{

    }

    .place{

    }

    place{

    }
}