.intro{
    width: 1017px;
    height: 516px;
    margin: 0 148px 92px 115px;
}

/* @media screen and (min-width : 768px) {
 

    .intro{
        width: 720px;
        height: 607px;
    }

    .intro__title{
        width: 720px;
    } 
} */