.cover{
    width: 1184px;
    height: 740px;
    margin: 0 48px 92px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cover_typt_traslate:hover{
    opacity: 0.8;
    background: #2A2C2F;
}