
@media screen and (max-width : 320px) {
    .page{
        width: 320px;
        height: 10270px;
    }

    .header{
        width: 320px;
        height: 555px;
        margin: 0;
    }
    
    .header__logo{      
        width: 200px;
        height: 51.852px;
        margin: 20px 60px 50.15px;
    }

    .header__title{
        width: 288px;
        height: 88px;
        font-size: 40px;
        line-height: 44px; 
        margin: 0 16px 60px;
    }

    .header__subtitle{
        width: 288px;
        height: 40px;
        font-size: 16px;
        line-height: 20px; /* 125% */
        margin: 0 16px 40px;

    }

    .header__ilustration{
        width: 320px;
        height: 200px;
    }

    .header__rectangule{
        width: 320px;
        height: 200px;          
    }

    .intro{
        width: 288px;
        height: 1030px;
        margin: 44px 16px 38px;
    }

    .intro__title{
        width: 288px;
        height: 175px;
        font-size: 32px;
        line-height: 35px; /* 109.375% */
        margin: 0 16px 9px;
    }

    .intro__subtitle{
        width: 288px;
        height: 300px;    
        line-height: 30px; /* 125% */
    }

    .intro__author{
        width: 288px;
        height: 34px;
    }

    .intro__text{
        width: 288px;
        height: 442px;
    }

    .container{
        width: 288px;
        height: 1755px;
        margin: 0 16px;
    }

    .container__item{
        width: 288px;
        height: 216px;
    }

    .places{
        display: flex;
        flex-direction: column;
        width: 320px;
        height: auto;
        margin: 62px 0 64px;
    }

    .place{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 320px;

    }

    .place_kiev{
        width: 320px;
        height: 1200px;
        margin-bottom: 16px;

    }

    .place_gales{
        width: 320px;
        height: 1209px;
        margin-bottom: 36px;
    }

    .place_berea{
        width: 320px;
        height: 1250px;
        margin-bottom: 17px;
    }

    .place_muramvya{
        width: 320px;
        height: 1433px;
        margin-bottom: 50px;
    }

    .place_mexico{
        margin: 0;
        width: 320px;
        height: 1150px;
    }

    .place__title{
        font-size: 32px;
        line-height: 35px;
        width: 288px;
        margin: 0;

    }

    .place__website{
        display: flex;
        flex-direction: column;
        row-gap: 8px;
        width: 288px;
        height: 67px;
        padding: 30px 16px;
      
    }


    .place__artist{
        width: 288px;
        font-size: 18px;
        font-weight: 400;
        line-height: 22px; /* 122.222% */
    }

    .place__url-heading{
        width: 288px;
    }
    
    .place__image{
        width: 320px;
        height: 320px;
    }

    .place__paragraphs{
        display: flex;
        flex-direction: column;
        row-gap: 7px;
        align-items: center;
        margin: 16px;
    }

    .place__paragraph{
        width: 288px;
        font-size: 16px;   
        margin: 0;
    }
    
    .action-button{
        width: 288px;
        height: 48px;
        border-radius: 4px;
        padding: 0;
    }
    .action-button__paragraph{
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin: 16px 21px 15px;
    }

    .cover{
        width: 321.265px;
        height: 254px;
        margin: 0;
    }

    .cover__background{
        width: 321.265px;
        height: 254px;
    }

    .cover__title{
        width: 288px;
        height: 35px;
        margin: 46px 16px 10px;
        font-size: 32px;
        line-height: 35px; /* 109.375% */
    }

    .cover__subtitle{    
         font-size: 14px;
         line-height: 16px; /* 114.286% */
         margin: 0;
    }

    .action-button_cover{
        width: 198px;
        height: 48px;
        margin-top: 10px;
    }

    .action-button__paragraph_cover{
        text-align: center;
    }

    .footer{
        margin: 64px 68px 24px 61px;
    }
}
